.App {
  text-align: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  width: 80%;
  align-items: center;
}
#navbar_logo {
  flex-grow: 2;
}

#navbar_menus {
  flex-grow: 8;
}
#navbar_menus ul {
  display: flex;
  justify-content: right;
}
#navbar_menus li {
  list-style: none;
  padding-right: 1rem;
}
